body {
  background-color: #EFEFF2;
}

/*heading style*/
h1, h4, h8 {
 font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", sans-serif;
 margin-bottom: 0;
 font-weight: bold;
}

h2, h3, h6 {
  font-family: "HelveticaNeue", "Helvetica Neue", sans-serif;
  margin-bottom: 0;
}

h5, h7, h9 {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", sans-serif;
  margin-bottom: 0;
}


h1 {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 36px;
}

h2 {
  font-size: 20px;
}

h3, h4 {
  font-size: 18px;
}

h5, h6 {
  font-size: 14px;
}

h7, h8 {
  font-size: 12px;
}

h9 {
  font-size: 10px;
}

/*table style*/
table {
  width: 100%;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:last-child {
   border-bottom: none;
}


/*Navbar properties*/
.navbar {
  background-color: #000000;
  height: 56px;
  overflow: hidden;
  padding: 0;
  display: block;
}

.navbar ul {
  list-style: none;
  text-align: center;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  height: 100%;
  float:right;
  overflow: hidden;
  background: linear-gradient(to right, transparent, #F88200, #F88200, #F88200);
}

.navbar li {
  height: 100%;
  display: inline-block;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 22px;
  padding-bottom: 16px;
  transform: skew(-15deg);
  /*border-left: 1px solid white;*/
}

.navbar li a {
  display:block;
  text-decoration:none;
  transform: skew(15deg);
  color: white;
}

.orange-bg-item {
  border-left: 1px solid white;
  background-color: #F88200;
}

.black-bg-item{
  background-color: #000000;
}

.car-detail-content {
  margin: 0 auto;
  padding: 0px;
}

/*placeholder for the big image*/
#image-placeholder {

}

#mobile-image-placeholder{
   max-width: 100vw;
}

#mobile-image-placeholder img {
   max-height: 256px;
   max-width: 100vw;
}

.big-image{
  height: 432px;
  width: 728px;
}

.sale-details {
  margin: 0;
  height: 432px;
  width: 296px;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding-top: 48px;
  padding-left: 40px;
}

.sale-details h6 {
  padding-bottom: 8px;
  font-size: 10px;
}

.sale-details h1 {
  padding-bottom: 24px;
}

.sale-details h4 {
  padding-top: 0;
  padding-bottom: 16px;
}

.item-info {
  padding-top: 24px;
  padding-bottom: 24px;
}

.statistics{
  display: block;
}

.statistics ul {
  list-style: none;
}

.statistics li {
  display: inline-block;
}

.car-badge{
  display: inline-block;
  float: left;
  width: 33.3%;
}

.clearBoth {
  clear: both;
}

.car-badge h6{
  padding-bottom: 4px;
}

.counter{
  color: #106838;
}

.top-box {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1024px) {
    .top-box {
        display: block;
    }
    .sale-details {
      height: 256px;
      width: 100%;
    }

    .car-info{
      float: left;
    }

    .publication-info{
      float:right;
    }
}

.bottom-box {
  display: flex;
  width: 100%;
  padding: 24px;
}

.list-detail {
  background-color: #FFFFFF;
  width: 480px;
  min-height: 266px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 40px;
}

.list-detail h4 {
  text-align: left;
  color: #9B9B9B;
}

.list-detail h4.uppercase {
  text-transform: uppercase;
}

.list-detail h4.bold {
  font-weight: bold;
}

.list-detail h4.text-black {
  color: #343434;
}


.list-detail td {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 1024px) {
    .bottom-box {
        display: block;
        padding: 0;
    }
    .list-detail {
      width: 100%;
      margin: 0;
      margin-bottom: 12px;
    }
}

.App {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.callus-button {
    background-color: #3FB34A;
    border: none;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.picture-list{
  margin-top: 32px;
}

.picture-list-item {
   height: 220px;
   padding-right: 2px;
   float:left;
}

.small-image {
  height: 220px;
  width: 169px;
}
